<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href=""http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <title>사랑의 교회 사람들</title>
</head>
<body>
<div class="container">
    <table class="table table-striped">
            <thead>
            <tr>
                <td><B>이름</B></td>
                <td><B>소개</B></td>
                <td><B>나이</B></td>
                <td><B>취미</B></td>
            </tr>
            </thead>
            <tbody>
            {% for mainProfile in mainProfile %}
            <tr>
                <td>{{mainProfile.name}}</td>
                <td>{{mainProfile.introduction}}</td>
                <td>{{mainProfile.age}}</td>
                <td>{{mainProfile.favorite}}</td>
            </tr>
            </tbody>
            {% endfor %}
    </table>
</div>
</body>
</html>